
/*type selecters */

p {color:rgb(62, 6, 35)}

body {color:rgb(85, 14, 91);
font-family: "Victor Mono", cursive, sans-serif;}
body {
  background-color: rgb(169, 213, 222);
}


/* class selectors */
/*c lass for my reading resposnses */

.responses {font-family: "Papyrus", cursive, sans-serif; color:rgb(73, 12, 73);}

.LALALA {
div 
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid rgb(0, 0, 0);
  margin: 10;
}

